
<html ng-app="listaTelefonica">
    <head>
        <meta charset="UTF-8">
        <title>Lista Telefonica</title>
        <link rel="stylesheet" type="text/css" href="bootstrap-5.0.0-beta1-dist/css/bootstrap.css">
        <style>
            .jumbotron{
                background-color: aliceblue;
                width: 400px;
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
            .table{
                margin-top:20px
            }
            .form-control{
                margin-bottom: 5px;
            }
            .selecionado{
                background-color: red;
            }
            .negrito{
                font-weight: bold;
            }

        </style>
        <script src="angular-1.8.2/angular.js"></script>
        <script>
            angular.module("listaTelefonica",[])
            angular.module("listaTelefonica").controller("listaTelefonicaCrtl", function($scope){
                $scope.app="lista telefonica";

                $scope.adicionarContato = function(contato){
                    $scope.contatos.push(angular.copy(contato));
                    delete $scope.contato
                    $scope.formAdd.$setPristine();
                };
                $scope.apagarContatos = function(contatos){
                    $scope.contatos = contatos.filter(function (contato){
                        if(!contato.selecionado) return contato;
                    });
                };  

                $scope.isContatoSelecionado = function (contatos){
                    return contatos.some(function (contato){
                        return contato.selecionado;
                    });
                }
                
                $scope.contatos=[
                    {nome : "Moisés" , telefone :"9784125" , cor :"blue"},
                    {nome : "israel" , telefone :"8487555", cor :"red"},
                    {nome : "Camila" , telefone :"2222222", cor :"yellow"}
                ];

                $scope.operadoras=[
                    {nome : "tim", codigo:11, categoria :"Celular"},
                    {nome : "Embratel", codigo:02, categoria :"Fixo"},
                    {nome : "GVT", codigo:622, categoria :"Fixo"},
                    {nome : "oi", codigo:33, categoria :"Celular"},
                    {nome : "claro", codigo:98, categoria :"Celular"}
                ];
               $scope.classe = "selecionado";

                        });
         </script>
    </head>
    <body ng-controller=listaTelefonicaCrtl>
        <div class="jumbotron">
            <h3>{{app}}</h3>
         <table  ng-show="contatos.length > 0"class="table table-striped">
                <tr>
                    <th></th>
                    <th>Nome</th>
                    <th>Telefonica</th>
                    <th>Operadora</th>
                    <th></th>
                </tr>
              <tr ng-class="{'selecionado negrito' : contato.selecionado}" ng-repeat="contato in contatos">
                <td><input type="checkbox" ng-model="contato.selecionado"/></td>
                <td>{{contato.nome}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome}}</td>
                <td><div style="width:20px; height:20px;" ng-style="{'background-color':contato.cor}"></div></td>

                <!-- 2 forma de fazer /key and value
                <td ng-repeat="(key, value) in contato">
                    {{key + '_' + value}}
                </td> -->
                </tr>
            </table>
            <hr>
           <!-- e valido {{contratoForm.$valid}} <br/>
           e invalido {{contratoForm.$invalid}} <br/> -->
            <form name="formAdd"> 
            <input  class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="10"> 
            <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-{4}$/">
            <select ng-model="contato.operadora"class="form-control" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras" >
                <option value="">Selecione uma operadora </option>
            </select>
            </form>

        <div ng-show="formAdd.nome.$error.required && formAdd.nome.$dirty" class="alert alert-danger">
                Por favor preencha o nome !
            </div>
        <div ng-show="formAdd.nome.$error.minlength" class="alert alert-danger">
                Por favor digite no minimo 10 letras
            </div>
        <div ng-show="formAdd.nome.$error.pattern" class="alert alert-danger">
            o campo telefone deve ter o formato DDDDD-DDDD
            </div>
            <div ng-show="formAdd.telefone.$invalid && formAdd.telefone.$dirty" class="alert alert-danger">
                Por favor preencha o Telefone !
            </div>

            <button class="btn btn-primary form-control" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone"> Adcionar Contato</button>
            <button class="btn btn-danger form-control" ng-click="apagarContatos(contatos)" ng-show="isContatoSelecionado(contatos)"> Remover Contato</button>
         

        
        </div>
        <div style="margin-top:50px">Criado por Moisés Ezequiel</div>

    </body>
</html>