
<html ng-app="listaTelefonica">
    <head>
        <meta charset="UTF-8">
        <title>Lista Telefonica</title>
        <link rel="stylesheet" type="text/css" href="bootstrap-5.0.0-beta1-dist/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/app.css">  
        <script src="angular-1.8.2/angular.js"></script>
        <script src="angular-1.8.2/angular-messages.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers/listaTelefonicaCtrl.js"></script>
    </head>
    <body ng-controller=listaTelefonicaCrtl>
        <div class="jumbotron">
            <h3>{{app}}</h3>
            <input type="text" class="form-control" placeholder="Oque voce está procurando?" ng-model="busca"> 
         <table     ng-show="contatos.length > 0"class="table table-striped">
                <tr>
                      <th></th>
                    <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
                    <th><a href="" ng-click="ordenarPor('telefone')">Telefonica</a> </th>
                    <th>Operadora</th>
                    <th>Data</th>
                </tr>
              <tr ng-class="{'selecionado negrito' : contato.selecionado}" ng-repeat="contato in contatos |filter:busca | orderBy:'criterioDeOrdenacao':direcaoDaOrdenacao">
                <td><input type="checkbox" ng-model="contato.selecionado"/></td>
                <td>{{contato.nome}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome}}</td>
                <td>{{contato.data | date:'MM/dd/yyyy hh:mm'}}</td>
                <td><div style="width:20px; height:20px;" ng-style="{'background-color':contato.cor}"></div></td>

                <!-- 2 forma de fazer /key and value
                <td ng-repeat="(key, value) in contato">
                    {{key + '_' + value}}
                </td> -->
                </tr>
            </table>
            <hr>
           <!-- e valido {{contratoForm.$valid}} <br/>
           e invalido {{contratoForm.$invalid}} <br/> -->
            <form name="formAdd"> 
            <input  class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="10"> 
            <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-{4}$/">
            <select ng-model="contato.operadora"class="form-control" ng-options="operadora.nome + '(' +(operadora.preco | currency) +')'  for operadora in operadoras | orderBy:'nome'" >
                <option value="">Selecione uma operadora </option>
            </select>
            </form>

            <div ng-messages="formAdd.nome.$error" class="alert alert-danger">
        <div ng-message="required">
                Por favor preencha o nome !
            </div>
        <div ng-show="minlength">
                Por favor digite no minimo 10 letras
            </div>
    
            </div>
            <div ng-show="formAdd.nome.$error.pattern" class="alert alert-danger">
                o campo telefone deve ter o formato DDDDD-DDDD
                </div>
                <!-- <div ng-show="formAdd.telefone.$invalid && formAdd.telefone.$dirty" class="alert alert-danger">
                    Por favor preencha o Telefone !
                </div> -->
            <button class="btn btn-primary form-control" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone"> Adcionar Contato</button>
            <button class="btn btn-danger form-control" ng-click="apagarContatos(contatos)" ng-show="isContatoSelecionado(contatos)"> Remover Contato</button>
         

        
        </div>
        <div style="margin-top:50px">Criado por Moisés Ezequiel</div>

    </body>
</html>